<nav>
    <img class="img-nav" src="../assets/images/imgRecetteLogo-removebg-preview 1.png" width="150" height="150">
    <div class="container-nav">
        <button routerLink="/home" class="btn-nav">
            <img src="../assets/images/icons8-home-24.png" alt="Home page" width="40px">
            Home
        </button>
        <!-- <button routerLink="/receipe" class="btn-nav">
            <img src="../assets/images/icons8-cookbook-50.png" width="40px" alt="Cookbook image">
            Receipe
        </button> -->
        <button routerLink="/search" class="btn-nav">
            <img src="../assets/images/icons8-search-50.png" width="40px" alt="icon search">
            Search
        </button>
    </div>
</nav>
<div class="border"></div>