<nav>
    <div class="container-nav">
        <div class="img-home"><img src="../assets/images/icons8-home-24.png" alt="Home page" width="40px"></div>
        <button routerLink="/home" class="btn-nav">Home</button>
        <div class="img-receipe"><img src="../assets/images/icons8-cookbook-50.png" width="40px" alt="Cookbook image"></div>
        <button routerLink="/receipe" class="btn-nav">Receipe</button>
        <div class="img-search"><img src="../assets/images/icons8-search-50.png" width="40px" alt="icon search"></div>
        <button routerLink="/search" class="btn-nav">Search</button>
    </div>
</nav>
<app-home></app-home>
<router-outlet></router-outlet>
